<!DOCTYPE html>
<html lang="en">
<!-- Chargement du static -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" id="favicon" href="{% static 'images/logo-icon.svg' %}">
    <meta name="author" content="CLAVIER Eliott">

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Esteban|Montserrat&display=swap" rel="stylesheet">
	<!-- FontAwesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Section Loading Screen -->
    <section id="loading-screen" class="container-fluid d-flex justify-content-center align-items-center">

        <div class="row justify-content-center">
            <div class="col-12 text-center">

                <!-- Logo -->
                <img class="animated-logo-loading-screen text-center" src="{% static 'images/logo-circle.gif' %}" alt="">
                <h1 class="text-center">CHARGEMENT</h1>

            </div>
        </div>

    </section>

    <!-- Sidebars de la page principale -->
    {% block sidebar-contact-reco %}{% endblock %}

    {% block sidebar-menu %}{% endblock %}


    <!-- Block contenant les sections de la page principale -->
    {% block main-page %} {% endblock %}

    <!-- Block contenant la section de la page projet -->
    {% block project %} {% endblock %}

    <!-- Block contenant la section de la page recommandations -->
    {% block recommendation %} {% endblock %}

    <!-- Script d'intégration Bootstrap, jQuery, Popper.js -->
    <script src="{% static 'plugins/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/jquery.line.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/popper.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>

    <!-- Script JS / jQuery -->
    <script src="{% static 'js/home_main_features.js' %}"></script>
    <!-- Enlève le loading screen -->
    <script src="{% static 'js/loading_screen.js' %}"></script>

</body>
</html>