{%  extends 'core/base.html' %}

{% load static %}
{% load widget_tweaks %}

<!-- Titre de la page -->
{% block title %} Portfolio by Eliott Clavier {% endblock %}

<!-- Sidebars -->
{% block sidebar-menu %}

    <button id="trigger-sidebar-menu" class="btn-modern-reverse"><i class="fas fa-bars fa-2x"></i></button>

    <nav id="sidebar" class="container-fluid">

        <div class="row">
            <div class="col-12">

                <a id="icon-flag" class="js-scrollTo sidebar-element" href="#home">
                    <span class="icon-fa"><i class="far fa-flag fa-2x"></i></span>
                    <span class="icon-text"> Accueil </span>
                </a>

                <hr class="sidebar-hr">

                <a class="js-scrollTo sidebar-element" href="#whoami">
                    <span class="icon-fa"><i class="fas fa-user fa-2x"></i></span>
                    <span class="icon-text"> Qui suis-je ? </span>
                </a>

                <hr class="sidebar-hr">

                <a class="js-scrollTo sidebar-element" href="#projects">
                    <span class="icon-fa"><i class="fas fa-cubes fa-2x"></i></span>
                    <span class="icon-text"> Mes projets </span>
                </a>

                <hr class="sidebar-hr">

                <a class="js-scrollTo sidebar-element" href="#experiencesandskills">
                    <span class="icon-fa"><i class="fas fa-briefcase fa-2x"></i></span>
                    <span class="icon-text"> Mes compétences et expériences</span>
                </a>

                <hr class="sidebar-hr">

                <a id="icon-phone" class="js-scrollTo sidebar-element" href="#contactme">
                    <span class="icon-fa"><i class="fas fa-phone fa-2x"></i></span>
                    <span class="icon-text"> Contactez moi ! </span>
                </a>

            </div>
        </div>

    </nav>

{% endblock %}

{% block sidebar-contact-reco %}

    <nav id="sidebar-contact-reco" class="container-fluid">

        <!-- Croix fermant la sidebar -->
        <div class="row">
            <button class="btn p-0 cross">
                <i class="fas fa-times fa-2x"></i>
            </button>
        </div>

        <div class="container-global-tabs">

            <div class="container-tabs">
                <div id="tab-contact" class="tabs active" data-displayed="1">Me contacter</div>
                <div id="tab-reco" class="tabs" data-displayed="2">Me recommander</div>
            </div>

            <!-- Onglet Me contacter -->
            <div id="tab-content-contact" class="content activeContent" data-displayed="1">

                <form id="contactForm" action="{% url 'ajax_contact' %}" method="POST">

                    {% csrf_token %}

                    <div class="row justify-content-center">

                            <p class="text text-center text-muted m-0 mt-md-3 mt-sm-3"> Les champs marqués * sont obligatoires.</p>

                            {% for field in contactForm %}
                                {% if field == contactFormForm.message %}

                                    <div class="col-11 text-center">
                                        {% render_field field class='form-custom' %}
                                    </div>

                                {% else %}

                                    <div class="col-11 text-center">
                                        {% render_field field class='form-custom' %}
                                    </div>

                                {% endif %}

                            {% endfor %}

                            <button type="button" class="btn-modern-reverse btn-dismiss mx-3"> Annuler </button>
                            <button type="submit" class="btn-modern btn-contact-send mx-3"> Envoyer </button>
                    </div>

                </form>
            </div>

            <!-- Onglet Me recommander -->
            <div id="tab-content-reco" class="content" data-displayed="2">

                <form id="recommendationForm" action="{% url 'ajax_recommendation' %}" method="POST">

                    {% csrf_token %}

                    <div class="row justify-content-center">

                        <p class="text text-center text-muted m-0 mt-md-3 mt-sm-3"> Les champs marqués * sont obligatoires.</p>

                        {% for field in recommendationForm %}
                            {% if field == recommendationForm.message %}

                                <div class="col-11 text-center">
                                    {% render_field field class='form-custom' %}
                                </div>

                            {% else %}

                                <div class="col-11 text-center">
                                    {% render_field field class='form-custom' %}
                                </div>

                            {% endif %}

                        {% endfor %}

                        <button type="button" class="btn-modern-reverse btn-dismiss mx-3"> Annuler </button>
                        <button type="submit" class="btn-modern btn-recommend-send mx-3"> Envoyer </button>
                    </div>

                </form>

            </div>
        </div>
    </nav>

    <!-- Toasts recommandation / contact -->
    <div id="toast-recommend" class="toast">
        <h6 class="m-0">
            <i style="color: rgba(0,0,0,0.85);" class="mr-3 fas fa-check-circle"></i>Recommandation enregistrée
        </h6>
    </div>

    <div id="toast-contact" class="toast">
        <h6 class="m-0">
            <i style="color: rgba(0,0,0,0.85);" class="mr-3 fas fa-check-circle"></i>Formulaire de contact transmis
        </h6>
    </div>

    <!-- Div qui cache le reste de la page quand la sidebar des contacts/recommandations est tirée -->
    <div class="overlay"></div>

{% endblock %}

<!-- Sections de la page -->
{% block main-page %}

    <!-- Section Accueil -->
    <a name="home"></a>
    <section id="home" class="container-fluid d-flex justify-content-center align-items-center py-5">
    
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 text-center">

                <!-- Logo -->
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 text-center">
                        <img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="">
                    </div>
                </div>

                <!-- Intitulé -->
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 text-center">

                        <h1 class="title mb-4">Eliott Clavier</h1>
                        <hr>
                        <h2 class="mt-4">Alternant ingénieur informatique chez RTE et étudiant DEV chez Campus Academy Nantes.</h2>

                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <a class="btn-modern-reverse mr-2" href="https://github.com/EliottClavier" target="_blank">
                        <i class="fab fa-github"></i> Mon GitHub
                    </a>
                    <a class="btn-modern-reverse ml-2" href="https://www.linkedin.com/in/eliott-clavier-154843197/" target="_blank">
                        <i class="fab fa-linkedin-in"></i> Mon Linkedin
                    </a>
                </div>
                
            </div>
        </div>

    </section>

    <!-- Section vers le rapport de stage Atlantic Soft -->
    <a class="link-bar" href="{% url 'internship' %}">
        <section class="redirect-bar container-fluid d-flex justify-content-center align-items-center py-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center justify-content-center align-items-center">
                    <h4 class="m-0">
                        <i class="fas fa-long-arrow-alt-right mr-3"></i>
                            Découvrir mon rapport de stage au sein de l'entreprise Atlantic Soft
                        <i class="fas fa-long-arrow-alt-left ml-3"></i>
                    </h4>
                </div>
            </div>
        </section>
    </a>

    <!-- Section Qui suis-je ? -->
    <a name="whoami"></a>
    <section id="whoami" class="container-fluid d-flex py-5">
        <div class="row justify-content-center align-items-center">

            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 text-center">

                <img class="rounded-circle img-fluid mb-5 profile-picture" src="{% static 'images/photo_profil.png' %}" alt="Photo de profil">

                <form method="get" action="{% static 'files/CV.pdf' %}">
                    <button type="submit" class="btn-modern">Télécharger mon CV</button>
                </form>

            </div>

            <div class="col-xl-1 col-lg-1"></div>

            <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10">

                <h1 class="title text-center mt-md-3 mt-sm-3 mb-4">Qui suis-je ?</h1>
                <p class="text-justify">Récemment diplômé d’un Baccalauréat Scientifique, je suis, depuis septembre 2019, étudiant dans l’école Campus Academy Nantes. C’est dans le cadre d’un projet d’école visant à mettre en œuvre et améliorer mes compétences que ce portfolio professionnel a vu le jour. Ce site a donc pour principal but de me présenter mais aussi de pouvoir prouver ma compétence et ma motivation. Afin de découvrir mon profil, je vous invite donc à visiter mon site, mon profil Linkedin ou bien mon CV à votre disposition. </p>
                <h1 class="title text-center mt-4">Bonne visite !</h1>

            </div>
        </div>

    </section>

    <a name="projects"></a>
    <section id="projects" class="container-fluid justify-content-center align-items-center d-flex py-5">
        <div class="row justify-content-center align-items-center">

            <h1 class="title my-5">Découvrez mes différents projets !</h1>

                <div class="col-10 text-center">

                    <div class="row justify-content-center align-items-center">

                        {% for project in projects %}
                                {% if forloop.counter == 1 %}
                                    <div data-project-index="{{ forloop.counter }}" class="project activeProject col-xl-10 col-lg-10 col-md-10 col-sm-10 text-center">
                                        <h1 class="text-center"> {{ project.name }} </h1>
                                        <img class="img-project my-3" src="{{ project.image.url }}" alt="Image du projet {{ project.name }}">
                                    </div>
                                {% else %}
                                    <div data-project-index="{{ forloop.counter }}" class="project col-xl-10 col-lg-10 col-md-10 col-sm-10 text-center">
                                        <h1 class="text-center"> {{ project.name }} </h1>
                                        <img class="img-project my-3" src="{{ project.image.url }}" alt="Image du projet {{ project.name }}">
                                    </div>
                                {% endif %}
                        {% endfor %}

                    </div>

                    <div class="row justify-content-center align-items-center mt-md-3 mt-sm-3">

                        <a href="{% url 'projects' %}" class="btn-modern">Plus de détails ici !</a>

                    </div>
                
                </div>
        </div>
    </section>

    <a name="experiencesandskills"></a>
    <section id="experiencesandskills" class="container-fluid justify-content-center align-items-center d-flex py-5">
        <div class="row justify-content-center align-items-center">

            <h1 class="title mt-5">Compétences et expériences !</h1>

            <div class="col-10 justify-content-center text-center my-5">

                <div class="row justify-content-center align-items-center">

                    <button class="btn-modern btn-skills mx-xl-5 mx-lg-3 mx-md-3 mx-sm-2 text-center">
                        Mes compétences
                    </button>

                    <button class="btn-modern btn-experiences mx-xl-5 mx-lg-3 mx-md-3 mx-sm-2 text-center">
                        Mes expériences
                    </button>

                    <button class="btn-modern btn-studies mx-xl-5 mx-lg-3 mx-md-3 mx-sm-2 text-center">
                        Ma formation
                    </button>

                </div>

             <!-- On affiche les compétences -->
            <div class="row justify-content-center align-items-center display-skills my-3" style="display: none">

                {% for skill in skills %}

                    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-7">
                        <div class="progress my-3" style="background-color: {{ skill.color }}CC">
                            <div class="progress-bar" style="background-color: {{ skill.color }};" data-width="{{ skill.advancement }}">
                                <h3 style="font-size: 18px"> {{ skill.name }} </h3>
                            </div>
                        </div>
                    </div>

                   <div class="col-xl-1 col-lg-1"></div>

                {% endfor %}

            </div>

            {% for experience in experiences reversed %}
            <div class="row justify-content-center align-items-center display-experiences py-4 my-3" style="display: none;">

                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 text-center">
                        <h5>{{ experience.duration }}</h5>
                        <hr style="background-color: black">
                        <h3>{{ experience.name }}</h3>
                    </div>

                    <div class="col-xl-1 col-lg-1"></div>

                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 text-justify">
                        {{ experience.description|linebreaks }}
                    </div>

            </div>
            {% endfor %}

            {% for study in studies reversed %}
            <div class="row justify-content-center align-items-center display-studies py-4 my-3" style="display: none;">

                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 text-center">
                        <h5>{{ study.duration }}</h5>
                        <hr style="background-color: black">
                        <h3>{{ study.name }}</h3>
                    </div>

                    <div class="col-xl-1 col-lg-1"></div>

                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 text-justify">
                        {{ study.description|linebreaks }}
                    </div>

            </div>
            {% endfor %}

        </div>

    </section>

    <!-- Section Contactez moi ! -->
    <a name="contactme"></a>
    <section id="contactme" class="container-fluid d-flex justify-content-center align-items-center py-5">

        <div class="row">

             <!-- Texte -->
            <div class="col-12">
                <div class="row justify-content-center align-items-center">

                    <div class="col-xl-4 col-lg-4 col-md-10 col-10-sm text-center">

                        <!-- Texte -->
                        <h1 class="text-center mb-3"> Comment me contacter ? </h1>

                        <p class="text-justify">
                            Afin de me contacter, vous pouvez remplir le formulaire en cliquant sur le bouton ci-dessous. Votre message me sera alors transmis et
                            je vous répondrais dans les plus brefs délais. Vous avez également accès à mes autres moyens de contacts et réseaux sociaux.
                        </p>

                        <!-- Bouton -->
                        <button type="button" class="btn-modern btn-open-sidebar-contact">Me contacter</button>

                    </div>

                    <div class="col-xl-1 col-lg-1"></div>

                    <div class="col-xl-4 col-lg-4 col-md-10 col-10-sm mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 text-center">

                        <!-- Texte -->
                        <h1 class="text-center mb-3"> Pourquoi me recommander ? </h1>

                        <p class="text-justify">
                            Afin d'assurer une légitimité dans mes réalisations personnelles ou au sein d'une équipe,
                            toute recommandation sur mon profil m'est précieuse. Si vous souhaitez me recommander, veuillez remplir le formulaire en cliquant sur le bouton ci-dessous.
                        </p>

                        <!-- Bouton -->
                        <button type="button" class="btn-modern btn-open-sidebar-reco">Me recommander</button>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Section vers mur des recommandations -->
    <a class="link-bar" href="{% url 'recommendations' %}">
        <section class="redirect-bar container-fluid d-flex justify-content-center align-items-center py-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center justify-content-center align-items-center">
                    <h4 class="m-0">
                        <i class="fas fa-long-arrow-alt-right mr-3"></i>
                            Un coup d'oeil sur mes recommandations ?
                        <i class="fas fa-long-arrow-alt-left ml-3"></i>
                    </h4>
                </div>
            </div>
        </section>
    </a>

    <!-- Footer -->
    <section id="footer" class="container-fluid d-flex justify-content-center align-items-center py-3">

        <div class="row justify-content-center align-items-center">
            <h4 class="m-0">Portfolio by Eliott Clavier</h4>
        </div>

    </section>

{% endblock %}